body{
    font-family: 'Oswald', sans-serif;
}
.mission{
    color: cyan;
}
h1{
    font-size: 50px;
    padding-left: 5%;
}
.half-width{
    width: 50%;
    padding: 10%
}
.half-width img{
    width: 100%;
}
.flexible{
    display: flex;
    
}
#border-img{
    border-left: 10px solid;
    border-image-slice: 1;
    
}

.orange{
    color: orange;
}
h2{
    margin-left: 40%;
}
.ankor{
     text-decoration: none;
     background-color: rgb(9, 228, 191);
     padding: 10px 40px;
     color: white;
     border-radius: 5px;
     
}
.footer{
    text-align: center;
    color: white;
    background-color: orange;
    padding: 40px;
}